services:
  api:
    build:
      context: .
      args:
        - APP_PORT=${APP_PORT}
    ports:
      - '${APP_PORT}:${APP_PORT}'
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - APP_PORT=${APP_PORT}
      - FLASK_APP=app.app:create_app
    command: >
      sh -c "flask db upgrade &&
             gunicorn -w 4 -b 0.0.0.0:${APP_PORT} app.app:create_app"
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${DB_HOST_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
